body {
  font-family: arial;
  padding: 0px;
  margin: 0px;
  color: #2f4458;
  background-color: #263441;
}

.tile {
  padding: 5px;
  margin-bottom: 5px;
  background-color: #cbe0f8;
  font-size: 10pt;
  width: 400px;
}

.tile .title {
  font-weight: bold;
  font-size: 11pt;
}

.tiles {
  display: inline;
  float: left;
  overflow: hidden;
}

.log {
  overflow-y: auto;
  height: 100%;
  position: fixed;
  left: 412px;
  right: 0px;
  font-size: 11pt;
  z-index: -1;
  padding-left: 5px;
  padding-top: 30px;
  right: 0px;
  margin: 0px;
}

.stdout {
  color: #62b98a;
}

.stderr {
  color: #b96262;
}

.msg {
  color: #cbe0f8;
}

.time {
  color: #cbe0f8;
}

.to_exec {
  color: #d5d389;
}

.button {
  text-align: right;
}

button {
  background-color: #5ea6ef;
  border: 0px;
  color: white;
  font-weight: 10;
  width: 120px;
  height: 25px;
  cursor: pointer;
}

button:hover {
  background-color: #4d94dd;
}

.menu {
  right: 20px;
  position: fixed;
  z-index: 0;
  background-color: #cbe0f8;
  padding: 3px;
}

.menu a {
  text-decoration: none;
  color: #004ea7;
}

.menu :hover {
  text-decoration: underline;
}

input[type = file] {
  display: none;
}

.path_name {
  white-space: nowrap;
  vertical-align: top;
}

.input_box {
  display: block;
  cursor: pointer;
  color: #005cc4;
  word-wrap: break-word;
  width: 320px;
}

.input_box:hover {
  cursor: pointer;
  color: #005cc4;
  text-decoration: underline;
}

.about {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #263441;
  opacity: 0.9;
  color: #ffffff;
  padding-top: 10%;
  display: none;
  font-size: 11pt;
}

.close_about {
  cursor: pointer;
  font-size: 18pt;
  margin-left: 100%;
}

.about .text {
  width: 400px;
  text-align: left;
  margin-left: 30%;
}

.about .links {
  color: #8bb8e2;
  font-size: 10pt;
}